@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

/* @font-face {
  font-family: Inter;
  src: url(fonts/Inter.ttf)
} */

* {
    margin: 0;
    padding: 0;
}

/* .header,
.horizontal-nav {
  display: flex;
} */


/* .horizontal-nav a {
display: inline-flex;
flex-shrink: 0;
align-items: center;
height: 48px;
padding: 0 0.25rem;
font-weight: 500;
color: inherit;
border-bottom: 3px solid transparent;
text-decoration: none;
transition: 0.15s ease;
&:hover,
&:focus,
&.active {
  color: #434ce8;
  border-bottom-color: #434ce8;
}
 */

/* .header {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 78px;
  margin: 0 auto;
  background: #ffffff;
}  */

/* .horizontal-nav {
margin-top: 1.5rem;
display: flex;
align-items: center;
overflow-x: auto;
@media (max-width: 1000px) {
  scrollbar-width: none;
  position: relative;
  &::-webkit-scrollbar {
    display: none;
  }
}

a {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  height: 48px;
  padding: 0 0.25rem;
  font-weight: 500;
  color: inherit;
  border-bottom: 3px solid transparent;
  text-decoration: none;
  transition: 0.15s ease;
  &:hover,
  &:focus,
  &.active {
    color: #434ce8;
    border-bottom-color: #434ce8;
  }
}
} */

ul {
list-style-type: none;
}

/* h2,
h3,
a {
color: #000000;
} */

a {
text-decoration: none;
}


body {
font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
color: #000000;
font-size: 16px;
line-height: 1.6;
margin: 0;
min-height: 100vh;
}

/* .responsive-wrapper {
width: 90%;
max-width: 1280px;
margin-left: auto;
margin-right: auto;
} */

.header {
display: flex;
justify-content: space-between;
align-items: center;
height: 80px;
border-bottom: 1px solid #D9D9D9;
background-color: #ffffff;
}

.header-logo {
margin-left: 2.5rem;
}

.horizontal-nav {
padding: 1rem 2rem;
/* font-size: 16px; */
/* margin-top: 1.5rem;
display: flex;
align-items: center;
overflow-x: auto; */

/* @media (max-width: 1000px) {
  scrollbar-width: none;
  position: relative;
  &::-webkit-scrollbar {
    display: none;
  } */
}

.horizontal-nav a {
display: inline-flex;
align-items: center;
height: 80px;
padding: 0 0.8rem;
font-weight: 500;
color: inherit;
border-bottom: 3px solid transparent;
text-decoration: none;
transition: 0.15s ease;
}

.horizontal-nav a:hover,
.horizontal-nav a:focus,
.horizontal-nav a:active {
text-decoration: none;
color: blue;
border-bottom-color: #4B5AF6;
}

.vertical-nav {
display: flex;
flex-direction: column;
}

.vertical	a {
display: flex;
align-items: center;
padding: 0.75em 1em;
background-color: transparent;
border-radius: 8px;
text-decoration: none;
font-weight: 500;
color: violet;
transition: 0.15s ease;
}

.vertical-nav a:hover,
.vertical-nav a:focus,
.vertical-nav a:active {
background-color: greenyellow;
color: #4B5AF6;
}


.hero button,
.events button,
.explore button,
.quizzes button,
.about button,
.stores button {
margin: 36px;
border: none;
font-size: 18px;
font-weight: 600;
line-height: 22px;
color: white;
width: 232px;
height: 54px;
text-align: center;
text-decoration: none;
border-radius: 40px;
background-color: #4B5AF6;
cursor: pointer;
align-content: center;
justify-content: center;
display: flex;
align-items: center;
gap: 6px;
}

.hero {
height: 80vh;
display: flex;
flex-direction: column;
align-content: center;
justify-content: center;
align-items: center;
}

.hero img {
  padding-top: 60px;
  width: 50%;
}

.hero-images {
display: block;
}

.hero-images {
margin: 0;
padding: 0;
position: absolute;
top: 0;
left: 0;
z-index: -1;
bottom: 0;
width: 100%;
height: 100%;
background-image: url(images/hero-plasticbag.webp), url(images/hero-bottle.webp), url(images/hero-can.webp), url(images/hero-paper.webp);
background-size: 300px, 200px, 200px, 170px;
background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
background-position: 50% 10%, 0% 30%, 100% 60%, 20% 90%;
}

.big-title {
  font-size: 100px;
  text-align: center;
}

.count {
  font-size: 100px;
  text-align: center;
  font-weight: 700;
}

.counter {
  height:100px;
}

.sub-big-title {
  font-size: 80px;
  text-align: left;
}

.head-title {
  font-size: 60px;
  line-height: 72px;
  text-align: center;
  width: 798px;
  padding-bottom: 36px;
  padding-top: 80px;

  /* animation: fadeInUp;
  animation-duration: 2s; */
}

#head-title-white-home {
  font-size: 60px;
  line-height: 72px;
  text-align: center;
  width: 1220px;
  color: #ffffff;
  padding: 16px 0px 0px 0px;
}

#head-title-white {
  font-size: 60px;
  line-height: 72px;
  text-align: center;
  width: 1220px;
  color: #ffffff;
  padding: 16px 0px 60px 0px;
}

.title {
  font-size: 48px;
  line-height: 56px;
  padding-bottom: 36px;
}

.sub-title {
  font-size: 28px;
  line-height: 36px;
}

.facts {
  background-color: #F8F8F8;
  padding: 120px;
  margin: 0px 0px 120px 0px;
}

.facts-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.events-title {
  font-size: 28px;
  line-height: 36px;
  font-weight: 700;
  text-align: left;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 24px 36px 16px 36px;
}

.events p{
  /* padding: 16px; */
  width: 264px;
  /* text-align: left; */
}

.events-text {
  padding-left: 36px;
  padding-bottom: 60px;
  text-align: left;
  width: 480px;
}

.text {
  font-size: 18px;
}

.explore-item-lists {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.explore-text {
  padding-bottom: 80px;
  padding-top: 36px;
  font-size: 18px;
  width: 236px;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.card img {
  /* display: block;
  min-height: 20rem; */
  background: #fff center center no-repeat;
  background-size: cover;
  width: 368px;
  border-radius: 0px 60px 0px 0px;
}

#more {
  width: 24px;
  z-index: 1;
  position: relative;
  border-radius: 0px;
  background: transparent;
  padding-top: 6px;
}

.content {
  background-color: #D2FDBA;
  width: 368px;
  border-radius: 0px 60px;
  margin: 24px;
}

.content2 {
  background-color: #586ae7;
  width: 580px;
  border-radius: 0px 60px;
  margin: 24px;
}

.content2 img {
  width: 580px;
}

.events,
.explore, 
.quizzes, 
.about,
.stores {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.quizzes p {
  color:#ffffff
}

.logo-white {
  padding: 60px 0px 0px 0px;
  width: 54px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about-btn-white {
  background-color: #ffffff;
  color: #000000;
}

.about-bg {
  border-radius: 40px;
  background-image: url(images/aboutus.webp);
  background-position: center center;
  background-position: 0% 0%;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.about-bg p {
  color: #ffffff;
}

.stores-item-lists {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.stores-item {
  width: 186px;
  border-radius: 50%;
  display: flex;
  padding: 60px;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.stores-item img {
  width: 186px;
  border-radius: 50%;
  padding: 60px;
}

.stores-item p {
  font-size: 24px;
  font-weight: 700;
}

.sotres-subtext {
  width: 70%;
}

.explore-list {
  background-color: #F8F8F8;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.explore-content-wrap {
  display: flex;
  flex-direction: column;
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}




.explore-content{
  display: flex;
  margin-bottom: 80px;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  /* -webkit-animation-name: fadeIn;
  animation-name: fadeIn; */
  /* animation: fadeIn 5s; */
}

.explore-item-lists-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.explore-content-text {
  text-align: left;
  width: 480px;
  padding-right: 80px;
  padding-left: 80px;
}

.explore-content-text title {
  font size: 48px;
}

.explore-content-text text {
  font size: 18px;
}

.explore-content-img img {
  width: 600px;
  /* margin-right: 80px; */
  border-radius: 0px 60px;
}

.explore-item {
  width: 176px;
  border-radius: 50%;
  padding: 0px 60px 0px 60px;
}

.about-intro {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-logo {
  padding: 60px;
  width: 200px;
}

.about-text {
  width: 700px;
  text-align: center;
  font-size: 18px;
  padding-bottom: 60px;
}

.volunteers {
  background-color: #F8F8F8;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
}

.volunteers img {
  width: 186px;
  border-radius: 50%;
  margin: 44px 44px 0px 44px;
  padding: 0px 0px 16px 0px;
}

.stores-content {
  display: flex;
  width: 1220px;
}

.stores-content1 {

}

.stores-content2 {
  display: flex;
  flex-direction: column;
}

.stores-content1 img {
  width: 394px;
  border-radius: 0px 60px;
  margin: 60px;
}

.stores-content2-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 60px;
}

.stores-content2-text h2 {
  font-size: 48px;
}

.stores-content2-btn {
  display: flex;
}

#stores-button {
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 36px;
  gap: 6px;
  color: #000000;
  width: 147px;
  height: 56px;
  margin: 60px 16px 0px 0px;
}

.stores-btn-img {
  width: 24px;
}


footer {
  margin-top: 36px;
  background-color: #F8F9FA;
  color: #5F6368;
  font-size: 14px;
  height: 80px;
  text-decoration: none;
}

footer a {
  color: #5F6368;
}

/* footer a:hover {
  text-decoration: none;
} */


.footer-item {
  padding: 1rem 2rem;
}

.footer-item-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.footer-item-list li {
  margin: 0.125rem 0.625rem;
  white-space: nowrap;
}

.footer-item-list li:nth-last-child(2) {
  flex: 1;
}
